{% extends 'masterpage.html' %}

{% load static %}

{% block content %}

<script type="text/javascript" src= "{% static 'disciplina/assets/js/formvalidator.js' %}" ></script>

<div class="content">

    <a href="{% url 'home' %}" class="btn_volt">Voltar</a>

    <h2>Cadastro de Disciplina</h2>

    <div class="form cad-disciplina">

        <input type="hidden" name="csrfmiddlewaretoken" value="GoI543W6QEJFvxzk9kxAWBn5LxRJwTrz2XJPQyG4tkCjrIG0jB9sldIdQen9uC6D">

		<label for="txtNome">Nome:</label>
		<input type="text" id="txtNome" name="txtNome" class="input_large" placeholder="Digite o nome da disciplina">

        <div class="div_inline">
			<label for="txtCarga">Carga Horária:</label>
			<input type="text" id="txtCarga" name="txtCarga" class="" placeholder="Carga horária">
		</div>

		<div class="div_inline">
			<label>Curso:</label>
			<select id="slcCurso" name="slcCurso">
				<option>Selecione</option>
				<option value="si">Sistema de Informação</option>
				<option value="ads">Análise e desenvolvimento de software</option>
				<option value="jd">Jogos Digitais</option>
				<option value="rd">Redes</option>
			</select>
		</div>

		<label>Semestre:</label>
		<div class="checkbox_div">
			<div class="checkboxs">
				<input type="checkbox" name="1sem" id="check1sem">
				<label for="check1sem">1º semestre</label>
			</div>
			<div class="checkboxs">
				<input type="checkbox" name="2sem" id="check2sem">
				<label for="check2sem">2º semestre</label>
			</div>
			<div class="checkboxs">
				<input type="checkbox" name="3sem" id="check3sem">
				<label for="check3sem">3º semestre</label>
			</div>
			<div class="checkboxs">
				<input type="checkbox" name="4sem" id="check4sem">
				<label for="check4sem">4º semestre</label>
			</div>
			<div class="checkboxs">
				<input type="checkbox" name="5sem" id="check5sem">
				<label for="check5sem">5º semestre</label>
			</div>
			<div class="checkboxs">
				<input type="checkbox" name="6sem" id="check6sem">
				<label for="check6sem">6º semestre</label>
			</div>
			<div class="checkboxs">
				<input type="checkbox" name="7sem" id="check7sem">
				<label for="check7sem">7º semestre</label>
			</div>
			<div class="checkboxs">
				<input type="checkbox" name="8sem" id="check8sem">
				<label for="check8sem">8º semestre</label>
			</div>
		</div>

        <button id="btnSend" type="submit" class="btnCad">
            Cadastrar
        </button>
    </div>

</div>
{% endblock content %}